*{
  margin: 0;

}
body, html, .App {
  min-width: 100vw;
  height: 100vh;
  background-color: rgb(61, 61, 61);
  color:white;
  font-family: Arial, Helvetica, sans-serif;
}
.App {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
#video-player{
  margin-top: 10px;
  height: auto;
  border: none;
  width: 90vw;
  max-width: 720px;
  aspect-ratio: 16/9 !important;
}
.controls-wrapper{
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 500px;
  margin: 0.3rem;
  gap: 1rem;
}
.button-wrapper{
  max-width: 500px;
  display:flex;
  width: 90vw;
  gap: 1rem;
}
.shuffle-button{
  margin-left: auto;
  margin-right: 0;
}
.toggle-songs-button{
  justify-self: center;
}
.video-list{
  max-width: 500px;
  max-height: 35vh;
  margin-top: 1rem;
  width: 90vw;
  list-style-type: none;
  overflow-x: hidden;
  overflow-y: auto;
  border: 2px solid rgba(0, 0, 0, 0.5);
  padding: 0;
  background-color: rgb(90, 90, 90);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}
.video-list-li{
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 0.5rem 1rem;
  word-break:keep-all;
}
.video-list-li:hover{
  cursor: pointer;
  background-color: rgba(138, 138, 138, 0.5);
}
.playing{
  background-color: rgb(46, 46, 46);;
}
.playlist-list{
  max-width: 500px;
  max-height: 300px;
  margin-top: 1rem;
  width: 90vw;
  list-style-type: none;
  overflow-x: hidden;
  overflow-y: auto;
  border: 2px solid rgba(0, 0, 0, 0.5);
  padding: 0;
  background-color: rgb(90, 90, 90);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}
.playlist-controls-wrapper{
  margin: 1rem;
  display: flex;
  justify-content: center;
}
.playlist-list-li{
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 0.5rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.playlist-list-li span{
  pointer-events: none;
  padding-left: 1rem;
}
.playlist-list-li:hover{
  cursor: pointer;
  background-color: rgba(138, 138, 138, 0.5);
}
.playlist-list-li button{
  opacity: 0%;
  background-color: rgb(231, 128, 128);
  color:white;
  border: none;
  border-radius: 4px;
  height: 100%;
  aspect-ratio: 1/1;
  font-size: 1rem;

}
.playlist-list-li button:hover{
  cursor: pointer;
  opacity: 0%;
  background-color: rgb(189, 118, 118);
}
.playlist-list-li:hover button{
  transition: all 200ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transform: translateX(-30%);
  opacity: 100%;
}
.fa{
  pointer-events: none;
}
.search-bar{
  width: 90vw;
  max-width: 500px;
  height: 1.5rem;
  font-size: 1rem;
}
.playlist-input{
  width: 70vw;
  max-width: 400px;
  height: 1.5rem;
  font-size: 1rem;
}

@media only screen and (min-width: 1300px){
  .App {
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-start;
  }
  #video-player{
    margin-top: 6rem;
    height: auto;
    border: none;
    width: 90vw;
    max-width: 720px;
    aspect-ratio: 16/9 !important;
  }
  .controls-wrapper{
    margin-top: 6rem;
  }
  .video-list{
    max-height: 70vh;
  }
}